


/* Cancelling these properties as per Tailwind CSS v3.x migration guide */



/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Replace old @tailwind directives with this: */
@import "tailwindcss";


